{% extends 'website/base.html' %}


{% block content %}

<h1>Customer Record :</h1>


<b>{{customer_record.first_name}} {{customer_record.last_name}} </b> <br>
{{customer_record.}} <br>
{{customer_record.email}} <br>
{{customer_record.phone}} <br>
{{customer_record.address}} <br>
{{customer_record.city}}  <br>
{{customer_record.state}} <br>
{{customer_record.zipcode}}   <br>
{{customer_record.created_at}} <br>
{{customer_record.id}} <br>



<br>
<br>

<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<a href="{% url 'delete_record' customer_record.pk %}" class="btn btn-danger">Delete</a>

<a href="{% url 'update_record' customer_record.pk  %}" class="btn btn-secondary">Update Record</a>

{% endblock %}